<md-card>
  <md-card-content>
    <form [formGroup]="eventForm">
        <h2>Event Data</h2>
        <md-input-container>
            <input mdInput formControlName="eventId" placeholder="Event ID">
        </md-input-container>
        <md-slide-toggle formControlName="emulate" color="primary">Emulate</md-slide-toggle>
        <md-input-container>
            <input mdInput formControlName="dataMinDays" placeholder="Min Days" type="number" step="0.1">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="dataMaxDays" placeholder="Max Days" type="number" step="0.1">
        </md-input-container>
        <md-slide-toggle formControlName="persistent" color="primary">Is Persistent</md-slide-toggle>
        <h2>Region</h2>
        <md-select placeholder="Region Type" formControlName="regionType">
            <md-option *ngFor="let region of regionTypeOptions" [value]="region.name">{{ region.name }}</md-option>
        </md-select>
        <!--<ng2-select name='regionType' [placeholder]="'Region Type'"
            [displayBy]="'name'"
            [selectedDisplayBy]="'label'"
            [identifyBy]="'name'"
            [options]="regionTypeOptions"
            formControlName="regionType">
        </ng2-select>
        <ng2-select *ngIf="eventForm.get('regionType').value.name == 'Circular' || eventForm.get('regionType').value.name == 'WC Circular 1994'" name='centerType' [placeholder]="'Center Type'"
            [displayBy]="'name'"
            [selectedDisplayBy]="'label'"
            [identifyBy]="'name'"
            [options]="centerTypeOptions"
            formControlName="centerType">
        </ng2-select>-->
        <md-input-container>
            <input mdInput formControlName="minDepth" placeholder="Min Depth" type="number" step="0.1">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="maxDepth" placeholder="Max Depth" type="number" step="0.1">
        </md-input-container><br/>
        <md-input-container *ngIf="eventForm.get('regionType').value.name == 'Circular'">
            <input mdInput formControlName="radius" placeholder="Radius" type="number" step="0.1">
        </md-input-container><br/>
        <md-input-container *ngIf="eventForm.get('centerType').value.name == 'Custom Location'">
            <input mdInput formControlName="centerLat" placeholder="Center Latitude" type="number">
        </md-input-container>
        <md-input-container *ngIf="eventForm.get('centerType').value.name == 'Custom Location'">
            <input mdInput formControlName="centerLong" placeholder="Center Longitude" type="number">
        </md-input-container>
        <md-input-container *ngIf="eventForm.get('centerType').value.name == 'Custom Location'">
            <input mdInput formControlName="centerDepth" placeholder="Center Depth" type="number" step="0.1">
        </md-input-container><br/>
        <md-input-container *ngIf="eventForm.get('regionType').value.name == 'Rectangular'">
            <input mdInput formControlName="minLat" placeholder="Min Latitude" type="number">
        </md-input-container>
        <md-input-container *ngIf="eventForm.get('regionType').value.name == 'Rectangular'">
            <input mdInput formControlName="maxLat" placeholder="Max Latitude" type="number">
        </md-input-container><br/>
        <md-input-container *ngIf="eventForm.get('regionType').value.name == 'Rectangular'">
            <input mdInput formControlName="minLong" placeholder="Min Longitude" type="number">
        </md-input-container>
        <md-input-container *ngIf="eventForm.get('regionType').value.name == 'Rectangular'">
            <input mdInput formControlName="maxLong" placeholder="Max Longitude" type="number">
        </md-input-container>
        <h2>RJ Parameters</h2>
        <md-input-container>
            <input mdInput formControlName="minA" placeholder="Min a Value" type="number" step="0.1">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="maxA" placeholder="Max a Value" type="number" step="0.1">
        </md-input-container><br/>
        <md-input-container>
            <input mdInput formControlName="minP" placeholder="Min p Value" type="number" step="0.01">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="maxP" placeholder="Max p Value" type="number" step="0.01">
        </md-input-container><br/>
        <md-input-container>
            <input mdInput formControlName="minC" placeholder="Min c Value" type="number" step="0.001">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="maxC" placeholder="Max c Value" type="number" step="0.001">
        </md-input-container><br/>
        <h2>RJ Calculated Parameters (Optionals)</h2>
        <md-input-container>
            <input mdInput formControlName="b" placeholder="B Value" type="number" step="0.1">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="g" placeholder="G Value" type="number" step="0.1">
        </md-input-container><br/>
        <md-input-container>
            <input mdInput formControlName="h" placeholder="H Value" type="number" step="0.1">
        </md-input-container>
        <md-input-container>
            <input mdInput formControlName="magCat" placeholder="MagCat Value" type="number" step="0.1">
        </md-input-container><br/>
        <button md-raised-button color="primary" (click)="submit()">Send Event</button>
    </form>
  </md-card-content>
</md-card>