
#map {
    height: 600px
}

#placesearch {
  position: absolute;
  top: 75%;
  left: 33%;
  z-index: 10000;
  text-align: center;
}

#placeInfo {
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 10000;
  text-align: center;
  width: 200px;  
}

#dateRange {
  position: absolute;
  top: 5%;
  left: 60%;
  z-index: 10000;
  text-align: center;
}

.selection {
  background: #cdd2d4!important;
}

#placeInfo button{
  line-height: 25px;
  margin-top: 10px;
}

#placeInfo md-chip {
  border-radius: 50px;
  padding: 5px;
  font-weight: 900;
}

md-input-container {
  width: 300px;
  margin-left: 10px;
}

md-option {
  width: 400px;
  font-size: small;
}

md-autocomplete{
  width: 400px;
}

#mapToolbar {
  font-size: small;
}

#myLocation {
  position: absolute;
  top: 75%;
  left: 90%;
  z-index: 10000;
}

#preferences {
  min-width: initial;
  margin-left: 5px;
}