<md-toolbar style="background-color: #3d5e80;color:white;">
  <span>USGS CMU-SV Earthquake Forecasting</span>
  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>
  <img src="https://astrogeology.usgs.gov/images/usgs_logo_main_2x.png" style="width:80px"/>
  <span>&nbsp;</span>
  <img src="http://boston.lti.cs.cmu.edu/classes/CMU_logo_stack_white.png" style="width:60px"/>
  <span>&nbsp;</span>
  <span>Version 0.0.1</span>
</md-toolbar>

<main>
    <router-outlet></router-outlet>
</main>