<table class="rwd-table">
    <thead>
    <tr>
        <th scope="col">In the Next:</th>
        <th scope="col">M5-6</th>
        <th scope="col">M6-7</th>
        <th scope="col">M7-8</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">Week</th>
        <td>{{ week56 }}<br/>({{ week56P | percent:'2.2'}})</td>
        <td>{{ week67 }}<br/>({{ week67P | percent:'2.2'}})</td>
        <td>{{ week78 }}<br/>({{ week78P | percent:'2.2'}})</td>
    </tr>
    <tr>
        <th scope="row">Month</th>
        <td>{{ month56 }}<br/>({{ month56P | percent:'2.2'}})</td>
        <td>{{ month67 }}<br/>({{ month67P | percent:'2.2'}})</td>
        <td>{{ month78 }}<br/>({{ month78P | percent:'2.2'}})</td>
    </tr>
    <tr>
        <th scope="row">Year</th>
        <td>{{ year56 }}<br/>({{ year56P | percent:'2.2'}})</td>
        <td>{{ year67 }}<br/>({{ year67P | percent:'2.2'}})</td>
        <td>{{ year78 }}<br/>({{ year78P | percent:'2.2'}})</td>
    </tr>
    </tbody>
</table>